# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pr: none

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
# Restore NuGet
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/*.sln'

# =========================
# BUILD UI PROJECT
# =========================
- task: VSBuild@1
  displayName: 'Build UI Project'
  inputs:
    solution: 'SMSystem/SMSystem.csproj'
    msbuildArgs: >
      /p:DeployOnBuild=true
      /p:WebPublishMethod=Package
      /p:PackageAsSingleFile=true
      /p:DesktopBuildPackageLocation="$(Build.ArtifactStagingDirectory)\SMSystemUI.zip"
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'


# =========================
# PUBLISH ARTIFACTS
# =========================
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'

