@{
    ViewData["Title"] = "Blank Page";
}




<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Blank Page</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" class="loader">Dashboard</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            Contents here
        </div>
    </div>
</div>


