@model SMSystem.Models.Holiday.HolidayPaggedViewModel

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Holiday</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="loader">Dashboard</a></li>
                    <li class="breadcrumb-item active">Holiday</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">

                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Holiday</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <a asp-action="ExportExcel" asp-controller="Holiday" id="Export-Holi" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
                                @if (User.IsInRole("admin"))
                                {
                                    <a asp-action="Create" asp-controller="Holiday" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="holidayData">
                        <div id="overlay">
                            <div class="cv-spinner">
                                <span class="spinner"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_Footer");
}
<script src="~/js/holiday.js"></script>
<script>
    $(document).ready(function () {
        let url = "/Holiday/GetAll";
        let element = "#holidayData";
        let obj = {
            PageIndex: 1
        };
        GetData(obj, url, element);
    });
</script>