@model SMSystem.Models.Teacher.TeacherViewModel
@using SMSystem.Helpers.DropdownHelper;


@{
    ViewData["Title"] = "Create";
}


<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Teachers</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Teacher" asp-action="Index" class="loader">Teachers</a></li>
                    <li class="breadcrumb-item active">Add Teachers</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Basic Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="TeacherId">Teacher ID <span class="login-danger">*</span></label>
                                    <input asp-for="TeacherId" class="form-control" value="@Model.TeacherId" hidden />
                                    <input class ="form-control" value="@Model.TeacherId" disabled />
                                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Name">Name <span class="login-danger">*</span></label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Gender">Gender <span class="login-danger">*</span></label>
                                    <select class="form-control select" asp-for="Gender" asp-items="EnumHelper.GetEnumSelectList<Gender>()">
                                        <option value="">Select Gender</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms calendar-icon">
                                    <label asp-for="DateOfBirth">Date Of Birth <span class="login-danger">*</span></label>
                                    <input asp-for="DateOfBirth" class="form-control datetimepicker" type="datetime" placeholder="DD-MM-YYYY" autocomplete="off" value=""/>
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="PhoneNo">Mobile <span class="login-danger">*</span></label>
                                    <input asp-for="PhoneNo" type="text" class="form-control" placeholder="Enter Phone" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Subject">Subject <span class="login-danger">*</span></label>
                                    <input asp-for="Subject" type="text" class="form-control" placeholder="Enter Subject" />
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms calendar-icon">
                                    <label asp-for="JoiningDate">Joining Date <span class="login-danger">*</span></label>
                                    <input asp-for="JoiningDate" class="form-control datetimepicker" type="datetime" placeholder="DD-MM-YYYY" autocomplete="off" value=""/>
                                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Qualification">Qualification <span class="login-danger">*</span></label>
                                    <input asp-for="Qualification" class="form-control" type="text" placeholder="Enter Qualification" />
                                    <span asp-validation-for="Qualification" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Experience">Experience <span class="login-danger">*</span></label>
                                    <input asp-for="Experience" class="form-control" type="text" placeholder="Enter Experience" />
                                    <span asp-validation-for="Experience" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group students-up-files">
                                    <label asp-for="ImagePath">Upload Student Photo (150px X 150px)</label>
                                    <div class="uplod">
                                        <label class="file-upload image-upbtn mb-0">
                                            Choose File <input type="file" asp-for="ImagePath">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="form-title"><span>Address</span></h5>
                            </div>
                            <div class="col-12">
                                <div class="form-group local-forms">
                                    <label asp-for="AddressLine1">Address <span class="login-danger">*</span></label>
                                    <input asp-for="AddressLine1" type="text" class="form-control" placeholder="Enter address" />
                                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="City">City</label>
                                    <input asp-for="City" type="text" class="form-control" placeholder="Enter City" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="State">State</label>
                                    <input asp-for="State" type="text" class="form-control" placeholder="Enter State" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="PostalCode">Zip Code <span class="login-danger">*</span></label>
                                    <input asp-for="PostalCode" type="text" class="form-control" placeholder="Enter Zip" />
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Country">Country <span class="login-danger">*</span></label>
                                    <input asp-for="Country" type="text" class="form-control" placeholder="Enter Country" />
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary loader">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}