@model SMSystem.Models.Subject.SubjectViewModel
@using SMSystem.Helpers.DropdownHelper;

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Subject</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" class="loader">Subject</a></li>
                    <li class="breadcrumb-item active">Add Subject</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Subject Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="SubjectId">Subject ID <span class="login-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text"></span>
                                        <input class="form-control" value="@Model.SubjectId" disabled />
                                    </div>
                                        <input asp-for="SubjectId" class="form-control" value="@Model.SubjectId" hidden />
                                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="SubjectName">Subject Name <span class="login-danger">*</span></label>
                                    <input asp-for="SubjectName" type="text" class="form-control" />
                                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Class">Class <span class="login-danger">*</span></label>
                                    <select class="form-control select" asp-for="Class" asp-items="EnumHelper.GetEnumSelectList<Class>()">
                                        <option value="">Please Select Class </option>
                                    </select>
                                    <span asp-validation-for="Class" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary loader">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}